<!DOCTYPE HTML>
<head>
  <title><%=user_info["name"]%>
    <link rel="stylesheet" href="/views/stylesheets/normalize.css" />
    <link rel="stylesheet" href="/views/stylesheets/foundation.min.css" />
    <link rel="stylesheet" type="text/css" href="<%= url("views/stylesheets/styles.css")%>" />
  </title>
</head>
<body>
  <% if flash[:notice] %>
      <%= flash[:notice] %>
  <% end %>
  <h1>MetaTweetReader: Tonal and Political Analyses of your Favorite Accounts</h1>
  <form action = "/tweets" method = "get">
      <strong>Enter a new Twitter handle:</strong>  <input type="text" placeholder="@example OR example OR eXaMpLe" name="user_search" class="search">
      <input type="submit" value="Search">
  </form>

<h3><img src="<%=user_info['profile_image_url']%>"><%=user_info["name"]%></h3>
  <p><%= user_info["name"]%>'s recent tweets are <%= pos_analysis %>% positive.</p>
  <p><%= user_info["name"]%>'s recent tweets are <%= liberal_percent %>% liberal, <%= con_percent %>% conservative, <%= libertarian_percent %>% libertarian, and <%= green_percent %>% Green.</p>
  <div>
      <% tweets.each do  |tweet| %>
        <div>
            <p><%= tweet["text"] %></p>
      </div>
      <% end %>
  </div>

  <p><a href='/'>Home</a>
</body>
</html>
